.navigation {
    background-color: #7B1FA2;
    padding: 10px 40px;
    z-index: 10;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 20px;
}

#nav-mobile {
    width: 11%;
    display: flex;
    list-style: none;
}

.brand-logo {
    font-size: 2rem;
    color: #FFF;
}

.navgation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}