.login-form-wrapper {
    width: 100%;
    height: 91.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5bcf7;
}

#login {
    width: 500px
}

#register {
    width: 500px
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 23px;
    padding: 35px 50px;
}

.login-form > h2 {
    display: flex;
    justify-content: center;
    color: #7B1FA2;
    font-size: 2.5rem;
    margin: 10px 0;
    padding: 0;
}

.login-or {
    display: flex;
    justify-content: center;
    color: #7B1FA2;
}
